.aside {
  @media (max-width: $breakpoint992) {
    order: 1;
  }

  &__burger {
    display: none;

    @media (max-width: $breakpoint992) {
      position: relative;
      z-index: 101;
      display: block;
      width: 24px;
      height: 20px;
      background-color: transparent;
      border-radius: 50%;

      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--sky-color);
        transition: opacity 0.2s linear;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--sky-color);
        transition: 0.2s linear;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--sky-color);
        transition: 0.2s linear;
      }

      &.active-burger {
        span {
          opacity: 0;
        }

        &::before {
          top: 10px;
          left: 0;
          transform: rotate(45deg);
          background-color: var(--orange-color);
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 8px;
          left: 0;
          transform: rotate(-45deg);
          background-color: var(--orange-color);
        }
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    padding: 16px 20px 34px;
    background-image: url('../img/aside-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;


    @media (max-width: $breakpoint992) {
      position: fixed;
      left: -100%;
      top: 0;
      width: 240px;
      padding: 100px 14px 34px;
      z-index: 100;
      max-height: 100vh;

      transition: left 0.2s linear;

      &.active {
        left: 0;
      }

    }

    &::-webkit-scrollbar {
      width: 3px;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
      background: var(--sky-color);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background: var(--purple-color);
    }

    scrollbar-color: var(--purple-color) var(--sky-color);
    scrollbar-width: thin;
  }

  // .aside__logo

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 60px;

    @media (max-width: $breakpoint480) {
      margin: 0 auto 32px;
    }
  }

  // .aside__logo-pic

  &__logo-pic {}

  // .aside__navs

  &__navs {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
    width: fit-content;
    margin: 0 auto 60px;

    @media (max-width: $breakpoint480) {
      margin: 0 auto 32px;
      row-gap: 32px;
    }
  }

  // .aside__nav

  &__nav {}

  // .aside__nav-label

  &__nav-label {
    margin-bottom: 16px;
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-transform: uppercase;
  }

  // .aside__nav-list

  &__nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
  }

  // .aside__nav-item

  &__nav-item {

    &.active {
      .aside__nav-link {
        color: var(--sky-color);

        svg path {
          fill: var(--sky-color);
        }
      }
    }
  }

  // .aside__nav-link

  &__nav-link {
    display: flex;
    align-items: center;
    column-gap: 12px;

    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;

    @media (hover: hover) {
      &:hover {
        color: var(--sky-color);

        svg path {
          fill: var(--sky-color);
        }
      }
    }
  }

  // .aside__footer

  &__footer {
    margin-top: auto;
  }

  // .aside__socials

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
  }

  // .aside__social

  &__social {}

  // .aside__social-link

  &__social-link {


    @media (hover: hover) {
      &:hover {
        .aside__social-img {
          transform: scale(1.6);

        }
      }
    }
  }

  // .aside__social-img

  &__social-img {
    width: 18px;
    height: 18px;
    transition: transform 0.2s linear;
  }
}