// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint1200) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  background-color: var(--white-color);
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: normal;
  color: var(--text-color);

  &.locked {
    overflow: hidden;
    padding-right: 17px;

    @media (max-width: $breakpoint992) {
      padding-right: 0;
    }
  }
}

.main__landing {
  background-color: var(--white-color);
  background-image: url('../img/landing-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main__dashboard {
  background-color: #F7F9FE;
}

.dashboard__wrapper {
  display: grid;
  grid-template-columns: 280px 1fr;

  @media (max-width: $breakpoint1450) {
    grid-template-columns: 240px 1fr;
  }

  @media (max-width: $breakpoint992) {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
}


// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}